* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.book-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 120px 120 px 120px;
}

.bookcard {
    height: 100px;
    width: 30vw;
    padding: 5px;
    border-radius: 7px;
    background-color: white;

}

bookcard h1 {
    font-weight: bold;
    font-size: 16px;
}

.unread {
    background-color: lightblue;
    border: 2px solid mediumturquoise;
}
